doctype html
html(lang='en')
  head
    meta(charset='utf-8')

    block title
      title jaeh.at - #{ FIRST_NAME } #{ LAST_NAME }

    link(rel='icon' href='/favicon.ico')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='stylesheet' href='/main.css')

    block meta
      meta(
        property='og:title'
        content=`${ FIRST_NAME } ${ LAST_NAME } - ${ JOB_DESCRIPTION }`
      )

      meta(
        property='og:image'
        content=`/img/${ FIRST_NAME }.${ LAST_NAME }.jpg`
      )

      meta(
        name='description'
        property='og:description'
        content= DESCRIPTION.join(' ')
      )

    block styles

  body
    main
      section.hero
        a.image(href='/')
          img.face(
            alt='home'
            src=`/img/${ FIRST_NAME }.${ LAST_NAME }.jpg`
          )
          img.body(
            alt='home'
            src=`/img/${ FIRST_NAME }.${ LAST_NAME }.body.jpg`
          )

        .text
          h2 #{ FIRST_NAME} #{ LAST_NAME }

          h3 #{ JOB_DESCRIPTION }

          block hero-content
            if DESCRIPTION
              .description
                for desc in DESCRIPTION
                  p= desc

      block content

      footer
        div
          span.anarchy= 'Ⓐ '
          span 1982 - #{ year } & all rites reversed

    block scripts
