doctype html
html(lang='en')
  head
    meta(charset='utf-8')

    block title
      title jaeh.at - Jascha Ehrenreich

    link(rel='icon' href='/favicon.ico')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='stylesheet' href='/main.css')

    block meta
      meta(property='og:title' content=`${ FIRST_NAME } ${ LAST_NAME } - ${ JOB_DESCRIPTION }`)
      meta(property='og:image' content=`/img/jascha.ehrenreich.jpg`)
      meta(
        name='description'
        property='og:description'
        content=`${ DESCRIPTION.join(' ') }`)

    block styles

  body
    article
      include /sections/hero.pug

      block content

    block scripts
